<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title
        th:text="${myCity.getCityName() != null} ? 'Search for a City | - ' + ${myCity.getCityName()} : 'Search for a City| NO CITY FOUND'">
    </title>
    <meta name="description" content="Search for a City | HOME">
    <meta name="author" content="Art">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="container">
        <h1>Zip Code: <span th:text="${myCity.cityZipCode}"></span></h1>
        <p id="result">City Name: <span
                th:text="${myCity.getCityName() != null} ? ${myCity.getCityName()} : 'No city Found'"></span></p>
        <u><a href="/">Back</a></u>
    </div>


</body>

</html>